%h1 Mobile Store
- @products.each do |product|
  .entry
    = image_tag(product.image_url, size: "160x160")
    %h3= product.title
   
    .price_line
      %span.price= number_to_currency(product.price)
    = button_to 'Add to Cart', line_items_path(:product_id => product) ,:remote => true 